/* tables */

.tablesorter tr, .tablesorter tbody{
    display:block;}

	.tablesorter td,.tablesorter th {width:250px;}

.tablesorter table {
     background-color: #aaa;
}

.tablesorter td {
    padding: 3px 10px;
}
.tablesorter tbody {
    background-color: #ddd;
    height: 200px;   
	overflow-x: hidden!important;	
}

.tablesorter td {
    padding: 3px 10px;
}

.tablesorter tr{width:500px;
 }
 
.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:0px 0pt 0px;
	font-size: 8pt;
	/*width: 100%;
	*/text-align: left;
}
.tablesorter thead tr th, .tablesorter tfoot tr th {
	1background-color: #e6EEEE;
	1border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
.tablesorter thead tr .header {
	background-image: url(./../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
.tablesorter thead tr .headerSortUp {
	background-image: url(./../images/asc.gif);
}
.tablesorter thead tr .headerSortDown {
	background-image: url(./../images/desc.gif);
}
.tablesorter thead tr .headerSortDown, .tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}


/* button */

#button
{
	margin: 10px;
	padding-bottom:20px;
   border:  4px dotted black;
   background-color: #11cff7;
   height: 22px;
}
 #button:hover
{
   background-color: #063b46;
   color: #fff;
}

.hidden 
{ position:absolute; 
display: none; 
  visibility:hidden;
}


/* loading */





.modal , .modal_error {
    display:    none;
    position:   absolute;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
	width:501px; height:300px;
   
}

.modal  {

 background: rgba( 255, 255, 255, .8 ) 
                url('./../images/pIkfp.gif') 
                50% 50% 
                no-repeat;
				

}

.modal_error {
padding-top:100px;
 text-align: center;
background: rgba( 255, 255, 255, .8 ) 
               
                50% 50% 
                no-repeat;
				
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
   
#loading {position:relative;}   
   
#loading.loading, #loading.error  {
    overflow: hidden;  	
}

/* Anytime the body has the loading class, our
   modal element will be visible */
#loading.loading .modal {
    display: block;
}




#loading.error .modal_error {
    display: block;
}


